.content {
    /* background: #c23030; */
    /* background: wheat; */
    background: green;
    text-align: center;
    padding: 40px 0;
}
.content h2 {
    color: rgb(1, 143, 1);
    font-size: 70px;
    font-weight: 700;
}
.gallery {
    margin: 0 25%; 
}
.content .gallery img {
    /* width: 400px; */
    height: 350px;
    background-size: cover;
}

@media (max-width:768px) {
    .content h2 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .content h2 {
        font-size: 40px;
    }
    .gallery {
        margin: 0 10%;
    }
}

@media (max-width: 512px) {
    .content h2 {
        font-size: 30px;
    }
}


