.category {
    /* background: rgb(114, 88, 23); */
    padding: 40px 0;
    position: relative;
}
.category .category-cate {
    text-decoration: none;
}
.category .judul {
    color: rgb(222,222,222);
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}
.category .macam-macam {
    font-size: 40px;
    
    padding-top: 10px;
    text-decoration: none;
}
.category .macam-macam a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: goldenrod;
}
.macam-macam .number {
    display: flex;
    justify-content: center;
}

.number img {
    width: 30px;
    height: 30px;
}



@media (max-width: 768px) {
    .category .judul {
        font-size: 50px;
    }

}


@media (max-width: 576px) {
    .category .macam-macam a {
        font-size: 30px;
    }
}