.wrapper-discover {
    margin: 70px 0;
    padding-bottom: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.discover-content {
    display: flex;
    justify-content: space-evenly;
}
.discover-section-left .discover-judul {
    font-weight: 700;
    color: black;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
}
.discover-section-left .link {
    font-weight: 600;
    background: transparent;
    border: 1px solid black;
    color: black;
}
.discover-section-left .discover-desc {
    font-weight: 500;
    color: gray;
}
.discover-content .discover-section-right img {
    height: 300px;
    border-radius: 22px 0 22px 0;
}
.stories-discover {
    margin: 40px 0;
}
.stories-discover .stories-judul {
    font-weight: 700;
    /* font-size: 40px; */
    color: black;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}
.stories-discover .stories-desc {
    font-weight: 500;
    color: gray;
}
.our-right .our-right-judul {
    font-weight: 700;
    color: black;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 2px;
}
.our-right .our-right-desc {
    font-weight: 500;
    color: gray;
}
.our-people img {
    height: 350px;
    margin-right: 10px;
}

@media (max-width:768px) {
    .discover-content .discover-section-right img {
        width: 300px;
        height: 250px;
    }
    
    .discover-section-left .discover-desc {
        font-size: 13px;
    }
    .stories-discover .stories-judul {
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
    }
    .stories-discover .stories-desc {
        font-size: 13px;
    }
    .our-right .our-right-judul {
        font-size: 25px;
        -webkit-text-stroke-width: 1px;
    }
    .our-right .our-right-desc {
        font-size: 13px;
        
    }
}

@media (max-width:576px) {
    .discover-content {
        display: block;
    }
    .discover-section-left {
        margin-bottom: 30px;
    }
    .discover-content .discover-section-right img {
        border-radius: 22px;
        width: 100%;
        height: 300px;
    }
    .our-right .our-right-judul {
        margin-top: 20px;
    }
    .our-people img {
        height: 300px;
    }
}