/* .hero-landing {
    height: 80vh;
} */
.hero-land-left {
    margin-top: 140px;
}
.hero-land-left .hero-land-judul {
    font-weight: 700;
}
.hero-land-left .hero-land-desc {
    font-weight: 400;
}
.hero-land-left .link {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    font-weight: 600;
    font-weight: 700;
}
.hero-land-right {
    margin-top: 10px;
}
.hero-land-right .hero-right-pict {
    margin-top: 25px;
    height: 350px;
}
@media (max-width:992px) {
    .hero-land-left {
        margin-top: 90px;
    }
    .hero-land-right .hero-right-pict {
        height: 250px;
        margin-top: 40px;
    }
    .hero-land-left .hero-land-desc {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .hero-landing {
        background-image: url('../../assests/hero-land.jpg');
        height: 90vh;
        background-size: cover;
        margin-top: 20px;
    }
    .hero-land-left {
        margin-top: 100px;
    }
    .hero-land-left .hero-land-judul {
        color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: 1px;
    }
    .hero-land-left .hero-land-desc {
        font-size: 15px;
        width: 75%;
        color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: .5px;
    }
    .hero-land-right .hero-right-pict {
        display: none;
    }
    .hero-land-left .link {
        border: 1px solid #ffffff;
        color: #ffffff;
    }
}

@media (max-width:576px) {
    .hero-landing {
        height: 70vh;
    }
}