.hero-furniture {
    background-image: url('../../assests//furniture.jpg');
    height: 450px;
    background-size: cover;
    text-align: center;
}
.hero-furniture .herofurniture-judul {
    font-weight: 700;
    padding-top: 70px;
}
.hero-furniture .herofurniture-tombol {
    font-weight: 700;
    background: transparent;
    border: 1px solid black;
    color: black;
    margin-top: 2px;
}