.dropdown-wrapper {
    margin-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.drop-left .drop-judul {
    font-weight: 700;
}
.drop-left .drop-desc {
    font-weight: 500;
}


@media (max-width:576px) {
    .drop-left .drop-judul {
        font-size: 17px;
    }
    .drop-left .drop-desc {
        font-size: 12px;
    }
}