
.main-about {
    /* background: rgb(7,36,0); */
    /* height: 100%; */
    background: rgb(4, 174, 4);
    position: relative;
}
.about {
    
    padding: 20px 0;
    /* height: 300px; */
    
    text-align: center;
    /* position: relative; */
}
.about-judul {
    font-size: 90px;
    font-weight: 700;
    color: rgb(2, 188, 2);
    line-height: 270px;
    /* position: relative; */
}
.about-content {
    position: absolute;
    /* position: relative; */
    color: green;
    /* top: 110%; */
    /* right: 0px; */
    /* bottom: 0; */
    top: 13%;
}
.content-right .content-desc {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
}
.content-left .about-pict {
    width: 400px;
}

@media (max-width:992px) {
    .content-right .content-desc {
        font-size: 30px;
        line-height: 45px;
    }
}
@media (max-width:768px) {
    .content-right .content-desc {
        font-size: 30px;
        line-height: 40px;
    }
    .about-content {
        top: 6%;
    }
}

@media (max-width:576px) {
    /* .main-about {
        background-color: rgb(243, 123, 123);
    } */
    .about {
        padding: 0;
    }

    .about-content {
        top: 17%;
    }
    .content-right .content-desc {
        font-size: 20px;
        line-height: 35px;
    }
    .content-left .about-pict {
        width: 300px;
    }
    
}

@media (max-width:575px) {
   
    .about-judul {
        display: none;
    }
    .about-content {
        padding: 20px 0;
        position: relative;
    }
}

@media (max-width:323px) {
    .content-left .about-pict {
        width: 250px;
    }
}