.main-nav-landing {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}
.navbar-landing-left .logo-landing {
    width: 200px;
}
.navbar-landing-right .menu-landing {
    width: 50px;
}
.menu {
    
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.link-card-land {
    margin-bottom: 19px;
}
.menu-landing-left .link-landing {
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    
}
.menu-land-sosmed .item-sosmed {
    width: 40px;
}
.item-sosmed {
    margin-bottom: 40px;
}
.copyright-land {
    text-align: center;
    color: gray;
}

@media (max-width:768px) {
    .navbar-landing-left .logo-landing {
        width: 150px;
    }
    .navbar-landing-right .menu-landing {
        width: 30px;
    }
}