.hero-wrapper {
    height: 80vh;
    background: url('../../assests/hero-section.jpg');
    font-family: 'Roboto Condensed', sans-serif;
    /* background-size: cover; */
}
.hero-left {
    padding: 170px 0;
}
.hero-left .hero-tombol {
    font-weight: 700;
    background: transparent;
    border: 1px solid black;
    color: black;
    margin-top: 2px;
}
.hero-wrapper .hero-judul {
    font-size: 70px;
    font-weight: 700;
    color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: 2px;
   
}
.hero-wrapper .hero-judul1 {
    font-weight: 700;
    color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: 1px;
}

@media (max-width:992px) {
    
    .hero-wrapper .hero-judul {
        font-size: 50px;
    }
}

@media (max-width:768px) {
    .hero-wrapper {
        background-size: contain;
        margin: 30px 0;
    }
    .hero-wrapper .hero-judul {
        font-size: 40px;
    }
    .hero-left .hero-judul1 {
        font-size: 15px;
    }
}

@media (max-width:576px) {
    .hero-wrapper {
        text-align: center;
        height: 90%;
    }
    .hero-left {
        padding: 130px 0;
    }
    .hero-wrapper .hero-judul {
        font-size: 30px;
        -webkit-text-stroke-width: 1px;
    }
    .hero-wrapper .hero-judul1 {
        font-size: 13px;
    }
    .hero-left .hero-tombol {
        color: black;
        -webkit-text-fill-color: whitesmoke;
        -webkit-text-stroke-width: 1px;
    }
}