.wrapper-career {
    margin: 70px 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding-bottom: 100px;
}
.wrapper-career .career-judul {
    font-weight: 700;
    color: black;
    -webkit-text-fill-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
}
.wrapper-career .career-desc {
    font-weight: 600;
    color: gray;
}
.wrapper-career .tombol-career {
    font-weight: 600;
    background: transparent;
    border: 1px solid black;
    color: black;
}
.wrapper-career .career-image {
    height: 280px;
    width: 340px;
    background-size: cover;
    border-radius: 5px;
}
.card-career {
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 60px;
}

@media (max-width:992px) {
    .wrapper-career .career-image {
        height: 250px;
        width: 300px;
    }
}


@media (max-width:768px) {
    .wrapper-career .career-image {
        height: 100%;
        width: 100%;
    }
    .wrapper-career .career-judul {
        font-size: 25px;
    }
    .wrapper-career .career-desc {
        font-size: 13px;
    }
}

@media (max-width:768px) {
    .wrapper-career .career-judul {
        font-size: 20px;
    }
    .wrapper-career .career-desc {
        font-size: 11px;
    }
}


