.footer {
    /* background: rgb(85, 127, 143); */
    background: rgb(140, 108, 28);
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgb(138, 157, 165);
}
.footer .address {
    font-size: 15px;
    font-weight: 500;
}

.footer .menu-dropdown a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: black;
    color: rgb(138, 157, 165);
}
.footer .menu-dropdown a:hover {
    color: rgb(194, 222, 234);
}
.hak-cipta .copyright {
    font-weight: 700;
}
.hak-cipta img {
    width: 250px;
    height: 50px;
}

.menu-opsi img {
    width: 25px;
    margin-right: 15px;
}